<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" routerLink="/func">Back</a>
    <router-outlet></router-outlet>
</nav>


<div class="container my-5">
    <h1 class="mb-3">Add New User</h1>
    <div class="row">
        <div class="col-lg-6">
            <form #form="ngForm" (ngSubmit)="addUser()">

                <div class="form-group">
                    <label for="Username">UserName</label>
                    <input type="text" class="form-control" id="Username" placeholder="Enter Username" [(ngModel)]="AddURequest.username" [ngModelOptions]="{standalone: true}">
                </div>
        
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="text" class="form-control" id="Password" placeholder="Enter Password" [(ngModel)]="AddURequest.password" [ngModelOptions]="{standalone: true}">
                </div>
        
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



